<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav>
            <div class="navbar-nav">
                <button type="button" class="navbar-toggler" 
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" 
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <ul class="nav navbar-nav collapse navbar-collapse justify-content-start"
            id="navbarSupportedContent">
                <li class="nav-item"><a class="nav-link active" aria-current="page">
                    <%= link_to "Home", root_path, id: "home_button" %></a>
                </li>
                <li class="nav-item"><a class="nav-link">
                    <%= link_to "Help", help_path, id: "help_button" %></a>
                </li>
                <% if logged_in? %>
                    <li class="nav-item"><a class="nav-link">
                        <%= link_to "Users", users_path, id: "users_button" %></a>
                        </li>
                        <li class="nav-link item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
                            id="navbarDropdown" role="button" data-bs-toggle="dropdown" 
                            aria-expanded="false">Account</a>
                            <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item">
                                    <%= link_to "Profile", current_user, id: "profile_button" %></a>
                                </li>
                                <li><a class="dropdown-item">
                                    <%= link_to "Settings", edit_user_path(current_user), id: "settings_button" %></a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item">
                                    <%= link_to "Log out", logout_path, method: "delete", id: "logout_button" %></a>
                                </li>
                            </ul>
                        </li>
                    <% else %>
                        <li class="nav-item"><a class="nav-link">
                            <%= link_to "Log in", login_path, id: "login_button" %></a>
                        </li>
                    <% end %>
                </ul>
        </nav>
    </div>
</nav>
